In [ ]:
#Durga Pavan Kumar Pailla
#700758689

In [3]:
#Task 1
str=list(input("Enter the string"))
print("Initially :",str)
str.remove('t')
str.remove('h')
print("After removing t and h :",str)
result = ''.join(str)
print("Result :",result)

Enter the stringpython
Initially : ['p', 'y', 't', 'h', 'o', 'n']
After removing t and h : ['p', 'y', 'o', 'n']
Result : pyon

In [8]:
a=float(input("1st Number"))
b=float(input("2nd Number"))
print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:",a*b)
print("Division:", a/b)

1st Number3
2nd Number1
Addition: 4.0
Subtraction: 2.0
Multiplication: 3.0
Division: 3.0

In [9]:
# Task 2
str1 = input("Input a  sentence: ")
modified_sentence= str1.replace('python', 'pythons')
print("Modified sentence:", modified_sentence)

Input a  sentence: python a bc python
Modified sentence: pythons a bc pythons

In [11]:
#Task 3 Grading

score = float(input("Enter the marks : "))
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
elif 0 <= score < 60:
    grade = 'F'
else:
    grade = 'Invalid score'

print("Your grade is:", grade)

Enter the marks : 80
Your grade is: B